.home:hover{
    text-decoration: underline;
    font: bold;
    background-color: rgb(30, 30, 30);
    font-size: large;
    margin-left: 8px;
}

.navhover:hover{
    font: bold;
    background-color: rgb(30, 30, 30);
    text-decoration: underline;
    font-size: large;
    margin-left: 123px;
}